* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
body {
  display: flex;
  background-color: rgb(0, 0, 0);
}

.calculator {
  /*Should be resized later*/
  display: flex;
  flex-direction: column;
  flex: 1;
}
.display {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.number-display {
  display: flex;
  flex: 1;
  margin: 10px 10px;
  padding: 1px;
  line-height: 100%;
  font-size: 75px;
  text-align: right;
  background-color: rgb(69, 69, 69);
  color: white;
}
.controls {
  display: flex;
  flex-direction: column;
  flex: 5;
}

.row-1-3,
.row-4-6,
.row-7-9,
.row-0,
.additional-buttons-row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.basic-calc-button {
  display: flex;
  flex: 1;
  margin: 10px;
  font-size: 75px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 26px;
}
.number-button, .dot-button, .constant-button{
  background-color: rgb(56, 56, 56);
  color: white;
}
.operator-button{
  color: orange;
  background-color: rgb(120, 120, 120);
}
.clear-command-button{
  background-color: brown;
  color: white;
}
.backspace-command-button{
  background-color: brown;
  color: white;
}
.equal-command-button{
  background-color: orange;
  color: white;
}
.flex-container-1,
.flex-container-2 {
  display: flex;

  margin: 0px;
  padding: 0px;
  border-width: 0px;
}
.flex-container-1{
  flex: 1;
}
.flex-container-2{
  flex: 2;
}